{{ redmine_root_dir }}
1
{{ redmine_db_name }}
{{ redmine_db_host }}
{{ redmine_db_user }}
{{ redmine_db_password }}
{{ redmine_db_encoding }}
{{ redmine_db_port }}
2
{{ sendmail_path }}
{{ sendmail_args }}
