
passenger_root /usr/share/ruby/vendor_ruby/phusion_passenger/locations.ini;
passenger_ruby {{ rvm1_install_path }}/gems/ruby-{{ ruby_version }}/wrappers/ruby;
passenger_instance_registry_dir /var/run/passenger-instreg;
passenger_show_version_in_header off;
