#!/bin/bash

# retrieve svn changes for Redmine

cd {{ redmine_root_dir }}

[[ -s "{{ rvm1_install_path }}/scripts/rvm" ]] && \
  source "{{ rvm1_install_path }}/scripts/rvm"

{{ rvm1_install_path }}/rubies/ruby-{{ ruby_version }}/bin/bundle exec rake \
  eupathdb:fetch_changesets \
  RAILS_ENV="production"
