#!/bin/bash

cd {{ redmine_root_dir }}

[[ -s "{{ rvm1_install_path }}/scripts/rvm" ]] && \
  source "{{ rvm1_install_path }}/scripts/rvm"

{{ rvm1_install_path }}/rubies/ruby-{{ ruby_version }}/bin/bundle exec rake \
    redmine:email:receive_imap \
    RAILS_ENV="production" \
    project=sysdba \
    allow_override=project,assigned_to,tracker,priority,category,status,"VEuPathDB Team","Type of support","Component DB","Support source" \
    host=imap.gmail.com \
    port=993 ssl=SSL  \
    username={{ smtp_username }} \
    password={{ smtp_password }}

